
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0,uc-fitscreen=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>Act Now</title>
    <meta name="keywords" content="miniMobile的demo" />
    <meta name="description" content="Act Now！" />
    <!-- miniMObile.css、js -->
    <link rel="stylesheet" type="text/css" href="__MINI_MOBILE__/css/miniMobile.css"/>
    <script type="text/javascript" src="__MINI_MOBILE__/js/zepto.min.js"></script>
    <script type="text/javascript" src="__MINI_MOBILE__/js/miniMobile.js"></script>
    <!-- fonticon -->
    <link rel="stylesheet" type="text/css" href="__MINI_MOBILE__/plugins/fonticon/iconfont.css" />
</head>
